<h2 class="text-center text-danger fs-3">WELCOME OUT TO OUR SITE</h2>
<div>
  <mat-toolbar color="primary">
    <span  class="fs-3 fw-bold">logo</span>
    <a class="fs-3 fw-bolder" routerLinkActive="active" routerLink="/home-page">Home</a>
    <a class="fs-3 fw-bolder" routerLinkActive="active" routerLink="/register-form">Register</a> 
    <a class="fs-3 fw-bolder" routerLinkActive="active" routerLink="/log-in-form">Login</a>    
    <a class="fs-3 fw-bolder" routerLinkActive="active" routerLink="/log-in-form">ourprojests</a>
    <a class="fs-3 fw-bolder" routerLinkActive="active" routerLink="/log-in-form">Contact</a>      
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>