.maindiv{
    height: 83.9vh;
    width: 100%;
    
}
.box{
    height: 70vh;
    width: 60vw;
   
    position: relative;
    left: 20vw;
    top:5vh ;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    font-size: larger;
}  
.example-full-width {
    width: 100%;
    font-size: larger;
    color: rgb(102, 255, 0);
}
div button{
    width: 17vw;
    display: flex;
    justify-content: center;
}
